h1{
	
	text-align: center;
	color: #FFFFFF;
}
body{
	background: #FFFFFF  ;
	color: #000000;
}
p{
	margin-left: 10px;
	margin-right: 10px;	
}
.container{
	text-align: center;


}
.rounded-0-jumbotron{
	margin-bottom:0px; 
	background: linear-gradient(to bottom right, #7863c0,90%,#363763)
}
.addtopmargin{
	margin-top: 50px;

}
.addbottommargin{
	margin-bottom: 50px;

}
.nomargin{
	margin: 0px;
}
.ourcolor{
	background: #363763;
	border: 0px;
}
th{
	color:white;
}
